name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: pnpm
      - run: pnpm install && pnpm exec eslint src && pnpm exec tsc
      # - uses: JS-DevTools/npm-publish@v4.1.1
      #   with:
      #     token: ${{ secrets.NPM_TOKEN }}
